body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:60px;
  background:inherit;
  background-color:rgba(106, 116, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:60px;
}
#u819 {
  position:absolute;
  left:2px;
  top:22px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820 {
  position:absolute;
  left:0px;
  top:60px;
}
#u820_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u820_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u821 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:16px;
}
#u822 {
  position:absolute;
  left:2px;
  top:0px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u820_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-color:rgba(102, 51, 255, 1);
  background-image:none;
}
#u820_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u823 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
}
#u824 {
  position:absolute;
  left:2px;
  top:12px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u825_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u825 {
  position:absolute;
  left:227px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u825_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u825.mouseOver {
}
#u825_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u825.mouseDown {
}
#u825_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u825.selected {
}
#u826 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u820_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u820_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u827_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u827 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
}
#u828 {
  position:absolute;
  left:2px;
  top:12px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u829_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u829 {
  position:absolute;
  left:230px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u829_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u829.mouseOver {
}
#u829_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u829.mouseDown {
}
#u829_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u829.selected {
}
#u830 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u831_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u831 {
  position:absolute;
  left:340px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u831_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u831.mouseOver {
}
#u831_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u831.mouseDown {
}
#u831_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u831.selected {
}
#u832 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u820_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u820_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u833_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u833 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
}
#u834 {
  position:absolute;
  left:2px;
  top:12px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u835_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u835 {
  position:absolute;
  left:230px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u835_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u835.mouseOver {
}
#u835_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u835.mouseDown {
}
#u835_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u835.selected {
}
#u836 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u837_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u837 {
  position:absolute;
  left:340px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u837_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u837.mouseOver {
}
#u837_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u837.mouseDown {
}
#u837_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u837.selected {
}
#u838 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u839_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u839 {
  position:absolute;
  left:450px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u839_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u839.mouseOver {
}
#u839_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u839.mouseDown {
}
#u839_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u839.selected {
}
#u840 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u841 {
  position:absolute;
  left:560px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u841_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u841.mouseOver {
}
#u841_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u841.mouseDown {
}
#u841_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u841.selected {
}
#u842 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u820_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u820_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u843 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
}
#u844 {
  position:absolute;
  left:2px;
  top:12px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u845 {
  position:absolute;
  left:230px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u845_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u845.mouseOver {
}
#u845_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u845.mouseDown {
}
#u845_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u845.selected {
}
#u846 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u847 {
  position:absolute;
  left:340px;
  top:26px;
  width:100px;
  height:124px;
  overflow:hidden;
  visibility:hidden;
}
#u847_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:124px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u847_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6699FF;
}
#u848 {
  position:absolute;
  left:38px;
  top:40px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#6699FF;
}
#u849 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6699FF;
}
#u850 {
  position:absolute;
  left:34px;
  top:66px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#6699FF;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6699FF;
}
#u852 {
  position:absolute;
  left:34px;
  top:92px;
  width:33px;
  height:15px;
  font-size:12px;
  color:#6699FF;
}
#u853 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u854_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u854 {
  position:absolute;
  left:450px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u854_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u854.mouseOver {
}
#u854_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u854.mouseDown {
}
#u854_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u854.selected {
}
#u855 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u856 {
  position:absolute;
  left:330px;
  top:8px;
  width:120px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u857 {
  position:absolute;
  left:340px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u857_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u857.mouseOver {
}
#u857_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u857.mouseDown {
}
#u857_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u857.selected {
}
#u858 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u820_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u820_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u859 {
  position:absolute;
  left:199px;
  top:0px;
  width:153px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u859_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u859.mouseOver {
}
#u859_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u859.selected {
}
#u860 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u861 {
  position:absolute;
  left:25px;
  top:4px;
  width:121px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u863 {
  position:absolute;
  left:352px;
  top:0px;
  width:153px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u863_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u863.mouseOver {
}
#u863_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u863.selected {
}
#u864 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u865 {
  position:absolute;
  left:505px;
  top:0px;
  width:153px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u865_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u865.mouseOver {
}
#u865_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u865.selected {
}
#u866 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u867 {
  position:absolute;
  left:658px;
  top:0px;
  width:153px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u867_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u867.mouseOver {
}
#u867_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u867.selected {
}
#u868 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u869 {
  position:absolute;
  left:811px;
  top:0px;
  width:153px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u869_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u869.mouseOver {
}
#u869_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u869.selected {
}
#u870 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u871 {
  position:absolute;
  left:249px;
  top:43px;
  width:715px;
  height:27px;
  overflow:hidden;
}
#u871_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u871_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u871_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u871_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u872 {
  position:absolute;
  left:15px;
  top:7px;
  width:21px;
  height:11px;
}
#u873 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u871_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u874 {
  position:absolute;
  left:169px;
  top:7px;
  width:21px;
  height:11px;
}
#u875 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u871_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u876 {
  position:absolute;
  left:322px;
  top:7px;
  width:21px;
  height:11px;
}
#u877 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u871_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u878 {
  position:absolute;
  left:477px;
  top:7px;
  width:21px;
  height:11px;
}
#u879 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u871_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u871_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u880 {
  position:absolute;
  left:628px;
  top:7px;
  width:21px;
  height:11px;
}
#u881 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u882 {
  position:absolute;
  left:87px;
  top:190px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u883 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u884 {
  position:absolute;
  left:237px;
  top:184px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u885 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u886 {
  position:absolute;
  left:237px;
  top:235px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u887 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u888_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u888 {
  position:absolute;
  left:237px;
  top:286px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u889 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u890_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u890 {
  position:absolute;
  left:237px;
  top:337px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u892 {
  position:absolute;
  left:237px;
  top:388px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u894 {
  position:absolute;
  left:237px;
  top:133px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u895 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u896 {
  position:absolute;
  left:237px;
  top:439px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u898 {
  position:absolute;
  left:184px;
  top:204px;
  width:0px;
  height:0px;
}
#u898_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u898_seg1 {
  position:absolute;
  left:32px;
  top:-64px;
  width:8px;
  height:68px;
}
#u898_seg2 {
  position:absolute;
  left:32px;
  top:-64px;
  width:21px;
  height:8px;
}
#u898_seg3 {
  position:absolute;
  left:40px;
  top:-70px;
  width:20px;
  height:20px;
}
#u899 {
  position:absolute;
  left:-14px;
  top:-28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900 {
  position:absolute;
  left:184px;
  top:204px;
  width:0px;
  height:0px;
}
#u900_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u900_seg1 {
  position:absolute;
  left:32px;
  top:-13px;
  width:8px;
  height:17px;
}
#u900_seg2 {
  position:absolute;
  left:32px;
  top:-13px;
  width:21px;
  height:8px;
}
#u900_seg3 {
  position:absolute;
  left:40px;
  top:-19px;
  width:20px;
  height:20px;
}
#u901 {
  position:absolute;
  left:-19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902 {
  position:absolute;
  left:184px;
  top:204px;
  width:0px;
  height:0px;
}
#u902_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u902_seg1 {
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:50px;
}
#u902_seg2 {
  position:absolute;
  left:32px;
  top:38px;
  width:21px;
  height:8px;
}
#u902_seg3 {
  position:absolute;
  left:40px;
  top:32px;
  width:20px;
  height:20px;
}
#u903 {
  position:absolute;
  left:-14px;
  top:4px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904 {
  position:absolute;
  left:184px;
  top:204px;
  width:0px;
  height:0px;
}
#u904_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u904_seg1 {
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:101px;
}
#u904_seg2 {
  position:absolute;
  left:32px;
  top:89px;
  width:21px;
  height:8px;
}
#u904_seg3 {
  position:absolute;
  left:40px;
  top:83px;
  width:20px;
  height:20px;
}
#u905 {
  position:absolute;
  left:-14px;
  top:29px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906 {
  position:absolute;
  left:184px;
  top:204px;
  width:0px;
  height:0px;
}
#u906_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u906_seg1 {
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:152px;
}
#u906_seg2 {
  position:absolute;
  left:32px;
  top:140px;
  width:21px;
  height:8px;
}
#u906_seg3 {
  position:absolute;
  left:40px;
  top:134px;
  width:20px;
  height:20px;
}
#u907 {
  position:absolute;
  left:-14px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908 {
  position:absolute;
  left:184px;
  top:204px;
  width:0px;
  height:0px;
}
#u908_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u908_seg1 {
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:203px;
}
#u908_seg2 {
  position:absolute;
  left:32px;
  top:191px;
  width:21px;
  height:8px;
}
#u908_seg3 {
  position:absolute;
  left:40px;
  top:185px;
  width:20px;
  height:20px;
}
#u909 {
  position:absolute;
  left:-14px;
  top:80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910 {
  position:absolute;
  left:184px;
  top:204px;
  width:0px;
  height:0px;
}
#u910_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u910_seg1 {
  position:absolute;
  left:32px;
  top:-4px;
  width:8px;
  height:254px;
}
#u910_seg2 {
  position:absolute;
  left:32px;
  top:242px;
  width:21px;
  height:8px;
}
#u910_seg3 {
  position:absolute;
  left:40px;
  top:236px;
  width:20px;
  height:20px;
}
#u911 {
  position:absolute;
  left:-14px;
  top:106px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u912 {
  position:absolute;
  left:237px;
  top:489px;
  width:36px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u914 {
  position:absolute;
  left:349px;
  top:190px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u916 {
  position:absolute;
  left:615px;
  top:190px;
  width:97px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
