body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1980px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u520_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u520 {
  position:absolute;
  left:15px;
  top:154px;
  width:175px;
  height:122px;
  font-size:48px;
}
#u521 {
  position:absolute;
  left:2px;
  top:34px;
  width:171px;
  word-wrap:break-word;
}
#u522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u522 {
  position:absolute;
  left:259px;
  top:154px;
  width:175px;
  height:122px;
  font-size:48px;
}
#u523 {
  position:absolute;
  left:2px;
  top:34px;
  width:171px;
  word-wrap:break-word;
}
#u524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u524 {
  position:absolute;
  left:504px;
  top:154px;
  width:175px;
  height:122px;
  font-size:48px;
}
#u525 {
  position:absolute;
  left:2px;
  top:34px;
  width:171px;
  word-wrap:break-word;
}
#u526_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u526 {
  position:absolute;
  left:734px;
  top:154px;
  width:175px;
  height:122px;
  font-size:48px;
}
#u527 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u528_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u528 {
  position:absolute;
  left:27px;
  top:315px;
  width:163px;
  height:74px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u529 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u530_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:74px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u530 {
  position:absolute;
  left:265px;
  top:315px;
  width:163px;
  height:74px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u531 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u532_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u532 {
  position:absolute;
  left:504px;
  top:315px;
  width:163px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u533 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  word-wrap:break-word;
}
#u534 {
  position:absolute;
  left:190px;
  top:215px;
  width:0px;
  height:0px;
}
#u534_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u534_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u535 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u536 {
  position:absolute;
  left:434px;
  top:215px;
  width:0px;
  height:0px;
}
#u536_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u536_seg1 {
  position:absolute;
  left:55px;
  top:-10px;
  width:20px;
  height:20px;
}
#u537 {
  position:absolute;
  left:-15px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u538 {
  position:absolute;
  left:501px;
  top:245px;
  width:0px;
  height:0px;
}
#u538_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:7px;
}
#u538_seg1 {
  position:absolute;
  left:-66px;
  top:-1px;
  width:70px;
  height:8px;
}
#u538_seg2 {
  position:absolute;
  left:-71px;
  top:-7px;
  width:20px;
  height:20px;
}
#u539 {
  position:absolute;
  left:-82px;
  top:-5px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u540 {
  position:absolute;
  left:256px;
  top:249px;
  width:0px;
  height:0px;
}
#u540_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:8px;
  height:10px;
}
#u540_seg1 {
  position:absolute;
  left:-65px;
  top:-10px;
  width:69px;
  height:8px;
}
#u540_seg2 {
  position:absolute;
  left:-70px;
  top:-16px;
  width:20px;
  height:20px;
}
#u541 {
  position:absolute;
  left:-80px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u542 {
  position:absolute;
  left:734px;
  top:215px;
  width:0px;
  height:0px;
}
#u542_seg0 {
  position:absolute;
  left:-55px;
  top:-4px;
  width:59px;
  height:8px;
}
#u542_seg1 {
  position:absolute;
  left:-60px;
  top:-10px;
  width:20px;
  height:20px;
}
#u543 {
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u544_div {
  position:absolute;
  left:0px;
  top:0px;
  width:175px;
  height:122px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:48px;
}
#u544 {
  position:absolute;
  left:734px;
  top:322px;
  width:175px;
  height:122px;
  font-size:48px;
}
#u545 {
  position:absolute;
  left:2px;
  top:6px;
  width:171px;
  word-wrap:break-word;
}
#u547_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:60px;
  background:inherit;
  background-color:rgba(106, 116, 181, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u547 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:60px;
}
#u548 {
  position:absolute;
  left:2px;
  top:22px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549 {
  position:absolute;
  left:0px;
  top:60px;
}
#u549_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u549_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u550_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:16px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u550 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:16px;
}
#u551 {
  position:absolute;
  left:2px;
  top:0px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u549_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-color:rgba(102, 51, 255, 1);
  background-image:none;
}
#u549_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u552_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u552 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
}
#u553 {
  position:absolute;
  left:2px;
  top:12px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u554_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u554 {
  position:absolute;
  left:227px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u554_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u554.mouseOver {
}
#u554_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u554.mouseDown {
}
#u554_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u554.selected {
}
#u555 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u549_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u549_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u556_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u556 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
}
#u557 {
  position:absolute;
  left:2px;
  top:12px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u558_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u558 {
  position:absolute;
  left:230px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u558_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u558.mouseOver {
}
#u558_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u558.mouseDown {
}
#u558_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u558.selected {
}
#u559 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u560_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u560 {
  position:absolute;
  left:340px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u560_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u560.mouseOver {
}
#u560_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u560.mouseDown {
}
#u560_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u560.selected {
}
#u561 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u549_state3 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u549_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u562_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u562 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
}
#u563 {
  position:absolute;
  left:2px;
  top:12px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u564_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u564 {
  position:absolute;
  left:230px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u564_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u564.mouseOver {
}
#u564_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u564.mouseDown {
}
#u564_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u564.selected {
}
#u565 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u566_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u566 {
  position:absolute;
  left:340px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u566_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u566.mouseOver {
}
#u566_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u566.mouseDown {
}
#u566_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u566.selected {
}
#u567 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u568_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u568 {
  position:absolute;
  left:450px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u568_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u568.mouseOver {
}
#u568_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u568.mouseDown {
}
#u568_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u568.selected {
}
#u569 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u570_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u570 {
  position:absolute;
  left:560px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u570_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u570.mouseOver {
}
#u570_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u570.mouseDown {
}
#u570_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u570.selected {
}
#u571 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u549_state4 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u549_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u572_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
  background:inherit;
  background-color:rgba(102, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u572 {
  position:absolute;
  left:0px;
  top:0px;
  width:1980px;
  height:41px;
}
#u573 {
  position:absolute;
  left:2px;
  top:12px;
  width:1976px;
  visibility:hidden;
  word-wrap:break-word;
}
#u574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u574 {
  position:absolute;
  left:230px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u574_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u574.mouseOver {
}
#u574_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u574.mouseDown {
}
#u574_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u574.selected {
}
#u575 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u576 {
  position:absolute;
  left:340px;
  top:26px;
  width:100px;
  height:124px;
  overflow:hidden;
  visibility:hidden;
}
#u576_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:124px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u576_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u577_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6699FF;
}
#u577 {
  position:absolute;
  left:38px;
  top:40px;
  width:25px;
  height:15px;
  font-size:12px;
  color:#6699FF;
}
#u578 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u579_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6699FF;
}
#u579 {
  position:absolute;
  left:34px;
  top:66px;
  width:32px;
  height:15px;
  font-size:12px;
  color:#6699FF;
}
#u580 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u581_div {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#6699FF;
}
#u581 {
  position:absolute;
  left:34px;
  top:92px;
  width:33px;
  height:15px;
  font-size:12px;
  color:#6699FF;
}
#u582 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u583_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u583 {
  position:absolute;
  left:450px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u583_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u583.mouseOver {
}
#u583_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u583.mouseDown {
}
#u583_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u583.selected {
}
#u584 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u585 {
  position:absolute;
  left:330px;
  top:8px;
  width:120px;
  height:18px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u586_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u586 {
  position:absolute;
  left:340px;
  top:8px;
  width:100px;
  height:26px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u586_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u586.mouseOver {
}
#u586_div.mouseDown {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u586.mouseDown {
}
#u586_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:26px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  border:none;
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u586.selected {
}
#u587 {
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u549_state5 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u549_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u588_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u588 {
  position:absolute;
  left:199px;
  top:0px;
  width:153px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u588_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u588.mouseOver {
}
#u588_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u588.selected {
}
#u589 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u590_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u590 {
  position:absolute;
  left:25px;
  top:4px;
  width:121px;
  height:51px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u591 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u592_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u592 {
  position:absolute;
  left:352px;
  top:0px;
  width:153px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u592_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u592.mouseOver {
}
#u592_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u592.selected {
}
#u593 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u594_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u594 {
  position:absolute;
  left:505px;
  top:0px;
  width:153px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u594_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u594.mouseOver {
}
#u594_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u594.selected {
}
#u595 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u596_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u596 {
  position:absolute;
  left:658px;
  top:0px;
  width:153px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u596_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u596.mouseOver {
}
#u596_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u596.selected {
}
#u597 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u598_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u598 {
  position:absolute;
  left:811px;
  top:0px;
  width:153px;
  height:60px;
  font-size:20px;
  color:#FFFFFF;
}
#u598_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u598.mouseOver {
}
#u598_div.selected {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:60px;
  background:inherit;
  background-color:rgba(102, 102, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FFFFFF;
}
#u598.selected {
}
#u599 {
  position:absolute;
  left:2px;
  top:18px;
  width:149px;
  word-wrap:break-word;
}
#u600 {
  position:absolute;
  left:249px;
  top:43px;
  width:715px;
  height:27px;
  overflow:hidden;
}
#u600_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u600_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u600_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u600_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u601 {
  position:absolute;
  left:15px;
  top:7px;
  width:21px;
  height:11px;
}
#u602 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u600_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u603 {
  position:absolute;
  left:169px;
  top:7px;
  width:21px;
  height:11px;
}
#u604 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u600_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u605_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u605 {
  position:absolute;
  left:322px;
  top:7px;
  width:21px;
  height:11px;
}
#u606 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u600_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u607 {
  position:absolute;
  left:477px;
  top:7px;
  width:21px;
  height:11px;
}
#u608 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u600_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:715px;
  height:27px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u600_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:11px;
}
#u609 {
  position:absolute;
  left:628px;
  top:7px;
  width:21px;
  height:11px;
}
#u610 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
